@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #1C1C1C;
}

.jumbotron {
    background-image: url("https://github.com/justwana-fly/vite-comics/blob/main/public/images/jumbotron.jpg?raw=true");
    background-size: cover; 
    background-position: center; 
    height: 450px; 
    width: 100%; 
    background-position: top center; 
    
}
li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}
li:hover{
    color: aqua;
    cursor: pointer;

}
.nav-bar{
    background-color: white;
}
main{
    background-color: #1C1C1C;
}


h1{
    color: white;
}
label{
    color: white;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.card-body {
    flex-grow: 1;
    background-color: #1C1C1C;
}

.card img {
    height: 200px; 
    object-fit: cover; 
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.card .btn {
    margin-top: auto; 
}
.card-text{
    color: white;
}

